<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <style type="text/css">
            .error {
                color: red;
            }

            .tagline {
                font-size: 75%;
            }
        </style>
    </head>
<body>
    <div>
        <h1>Blogz</h1>
    </div>
    <div style='float: left'>
        <a href="index">Home</a> | 
        <a href="blog">All Posts</a> | 
        <a href="newpost">New Post</a> | 
        <a href="login">Login</a> |
        <a href="logout">Logout</a>
    </div>
    </br>

    {% block content %}
    {% endblock %}

</body>
</html>